<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="blogTitle">Title</label>
    <input type="text" id="blogTitle" [(ngModel)]="model.title" name="title" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="blogContent">Content</label>
    <textarea id="blogContent" rows="5" [(ngModel)]="model.content" name="content" class="form-control" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Post Blog</button>
</form>


<div class="submission-container">
  <div *ngIf="submittedPosts.length > 0" class="submitted-posts-container">
    <h2 class="submitted-posts-title">Submitted Posts</h2>
    <div *ngFor="let post of submittedPosts" class="submitted-post">
      <div class="post-content">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
      </div>
      <hr>
    </div>
  </div>
</div>

